openapi: 3.2.0
info:
  title: Accurate Background Orders API
  description: The Accurate API (v3) lets platforms embed employment background screening into their own web and mobile applications.
  version: '3.0'
  contact:
    name: Accurate Background
    url: https://developer.accuratebackground.com/
servers:
- url: https://api.accuratebackground.com/v3
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Orders
  description: Background-check orders placed against a candidate.
paths:
  /order:
    post:
      tags:
      - Orders
      summary: Create order
      description: Request to complete a background check on a specific candidate.
      responses:
        '201':
          description: Order created.
      operationId: postOrder
      x-operation-id-source: derived
  /orders:
    get:
      tags:
      - Orders
      summary: Retrieve all orders
      description: Retrieve and filter orders by query parameters.
      responses:
        '200':
          description: A list of orders.
      operationId: getOrders
      x-operation-id-source: derived
  /order/{id}:
    get:
      tags:
      - Orders
      summary: Retrieve order by ID
      description: Retrieve a single order, its status, and its searches.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested order.
      operationId: getOrderById
      x-operation-id-source: derived
  /order/{id}/eta:
    get:
      tags:
      - Orders
      summary: Get order ETA
      description: Estimated completion time for an order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The order ETA.
      operationId: getOrderByIdEta
      x-operation-id-source: derived
  /order/{id}/changes:
    get:
      tags:
      - Orders
      summary: Get order changes
      description: List of modifications made to an order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The order change history.
      operationId: getOrderByIdChanges
      x-operation-id-source: derived
  /order/{id}/reinitiate:
    post:
      tags:
      - Orders
      summary: Reinitiate order
      description: Reset a cancelled interactive order so the candidate can resume.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order reinitiated.
      operationId: postOrderByIdReinitiate
      x-operation-id-source: derived
  /order/{id}/invitation:
    post:
      tags:
      - Orders
      summary: Resend invitation
      description: Resend the candidate invitation email for an interactive order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Invitation resent.
      operationId: postOrderByIdInvitation
      x-operation-id-source: derived
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: Accurate API credentials are a ClientID / ClientSecret pair obtained from the Accurate developer portal. Credentials are exchanged (HTTP Basic) for an access token that authorizes subsequent requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.accuratebackground.com/v3/oauth/token
          scopes: {}
