openapi: 3.2.0
info:
  title: Accurate Background Packages API
  description: The Accurate API (v3) lets platforms embed employment background screening into their own web and mobile applications.
  version: '3.0'
  contact:
    name: Accurate Background
    url: https://developer.accuratebackground.com/
servers:
- url: https://api.accuratebackground.com/v3
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Packages
  description: Screening packages available on an account.
paths:
  /packages:
    get:
      tags:
      - Packages
      summary: Retrieve packages
      description: Retrieve all active screening packages on the account.
      responses:
        '200':
          description: A list of packages.
      operationId: getPackages
      x-operation-id-source: derived
  /package/{type}:
    get:
      tags:
      - Packages
      summary: Get package by type
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested package.
      operationId: getPackageByType
      x-operation-id-source: derived
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: Accurate API credentials are a ClientID / ClientSecret pair obtained from the Accurate developer portal. Credentials are exchanged (HTTP Basic) for an access token that authorizes subsequent requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.accuratebackground.com/v3/oauth/token
          scopes: {}
