openapi: 3.2.0
info:
  title: Accurate Background Reports API
  description: The Accurate API (v3) lets platforms embed employment background screening into their own web and mobile applications.
  version: '3.0'
  contact:
    name: Accurate Background
    url: https://developer.accuratebackground.com/
servers:
- url: https://api.accuratebackground.com/v3
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Reports
  description: Completed screening results and reports.
paths:
  /order/{id}/invitation-link:
    get:
      tags:
      - Reports
      summary: Get candidate invitation link
      description: Retrieve the candidate login/invitation link for an order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The invitation link.
      operationId: getOrderByIdInvitationLink
      x-operation-id-source: derived
  /order/{id}/report:
    get:
      tags:
      - Reports
      summary: Retrieve report
      description: Retrieve the completed background-check report for an order as a PDF or base64-encoded HTML once the order is complete.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The completed report.
      operationId: getOrderByIdReport
      x-operation-id-source: derived
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: Accurate API credentials are a ClientID / ClientSecret pair obtained from the Accurate developer portal. Credentials are exchanged (HTTP Basic) for an access token that authorizes subsequent requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.accuratebackground.com/v3/oauth/token
          scopes: {}
