openapi: 3.2.0
info:
  title: Accurate Background Documents API
  description: The Accurate API (v3) lets platforms embed employment background screening into their own web and mobile applications.
  version: '3.0'
  contact:
    name: Accurate Background
    url: https://developer.accuratebackground.com/
servers:
- url: https://api.accuratebackground.com/v3
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Documents
  description: Supporting documents attached to an order.
paths:
  /order/{id}/document:
    post:
      tags:
      - Documents
      summary: Upload document
      description: Upload a supporting document to an order. Supports PDF, JPG, PNG, DOC, and DOCX up to 15MB.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Document uploaded.
      operationId: postOrderByIdDocument
      x-operation-id-source: derived
  /order/{id}/documents:
    get:
      tags:
      - Documents
      summary: Retrieve documents
      description: List the documents attached to an order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of documents.
      operationId: getOrderByIdDocuments
      x-operation-id-source: derived
  /document/{id}:
    get:
      tags:
      - Documents
      summary: Get document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Document metadata.
      operationId: getDocumentById
      x-operation-id-source: derived
    delete:
      tags:
      - Documents
      summary: Delete document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Document deleted.
      operationId: deleteDocumentById
      x-operation-id-source: derived
  /document/{id}/download:
    get:
      tags:
      - Documents
      summary: Download document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The document file.
      operationId: getDocumentByIdDownload
      x-operation-id-source: derived
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: Accurate API credentials are a ClientID / ClientSecret pair obtained from the Accurate developer portal. Credentials are exchanged (HTTP Basic) for an access token that authorizes subsequent requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.accuratebackground.com/v3/oauth/token
          scopes: {}
