openapi: 3.2.0
info:
  title: Accurate Background Adjudication API
  description: The Accurate API (v3) lets platforms embed employment background screening into their own web and mobile applications.
  version: '3.0'
  contact:
    name: Accurate Background
    url: https://developer.accuratebackground.com/
servers:
- url: https://api.accuratebackground.com/v3
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Adjudication
  description: Pass/fail decisioning on completed orders.
paths:
  /order/{id}/adjudicate:
    post:
      tags:
      - Adjudication
      summary: Adjudicate order
      description: Make a pass/fail adjudication decision on a completed order without logging into the portal.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Adjudication recorded.
      operationId: postOrderByIdAdjudicate
      x-operation-id-source: derived
  /order/{id}/reassess:
    post:
      tags:
      - Adjudication
      summary: Reassess adjudication
      description: Reassess an adjudication where jurisdiction rules require it (for example LA City/County individualized assessment).
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reassessment recorded.
      operationId: postOrderByIdReassess
      x-operation-id-source: derived
  /order/{id}/location:
    put:
      tags:
      - Adjudication
      summary: Update position location
      description: Update the job/position location used for compliant decisioning.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Location updated.
      operationId: putOrderByIdLocation
      x-operation-id-source: derived
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: Accurate API credentials are a ClientID / ClientSecret pair obtained from the Accurate developer portal. Credentials are exchanged (HTTP Basic) for an access token that authorizes subsequent requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.accuratebackground.com/v3/oauth/token
          scopes: {}
