openapi: 3.2.0
info:
  title: Accurate Background Candidates API
  description: The Accurate API (v3) lets platforms embed employment background screening into their own web and mobile applications.
  version: '3.0'
  contact:
    name: Accurate Background
    url: https://developer.accuratebackground.com/
servers:
- url: https://api.accuratebackground.com/v3
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Candidates
  description: Screening subjects that background checks are run against.
paths:
  /candidates:
    get:
      tags:
      - Candidates
      summary: Retrieve all candidates
      description: Retrieve all candidates for the authenticated company account.
      responses:
        '200':
          description: A list of candidates.
      operationId: getCandidates
      x-operation-id-source: derived
  /candidate:
    post:
      tags:
      - Candidates
      summary: Create candidate
      description: Creates a candidate that can then be submitted within an order-creation payload.
      responses:
        '201':
          description: Candidate created.
      operationId: postCandidate
      x-operation-id-source: derived
    put:
      tags:
      - Candidates
      summary: Update candidate
      description: Updates an existing candidate. Changes apply to future orders only.
      responses:
        '200':
          description: Candidate updated.
      operationId: putCandidate
      x-operation-id-source: derived
  /candidate/{id}:
    get:
      tags:
      - Candidates
      summary: Retrieve candidate by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested candidate.
      operationId: getCandidateById
      x-operation-id-source: derived
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: Accurate API credentials are a ClientID / ClientSecret pair obtained from the Accurate developer portal. Credentials are exchanged (HTTP Basic) for an access token that authorizes subsequent requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.accuratebackground.com/v3/oauth/token
          scopes: {}
