openapi: 3.0.3
info:
  title: Accurate Background Adjudication Orders API
  description: 'The Accurate API (v3) lets platforms embed employment background screening into their own web and mobile applications. Integrators create candidates, order preset or custom screening packages, track order status and estimated completion time, attach documents, adjudicate results, and retrieve completed reports. A free developer account and a sandbox environment are available for testing; production access is provisioned under a screening services agreement.


    This OpenAPI document was authored by API Evangelist from Accurate''s published developer documentation (developer.accuratebackground.com and accurate.readme.io). Paths and HTTP methods reflect the documented endpoints; request and response schemas are summarized rather than exhaustively modeled. Verify the authoritative contract in Accurate''s own API reference.'
  version: '3.0'
  contact:
    name: Accurate Background
    url: https://developer.accuratebackground.com/
servers:
- url: https://api.accuratebackground.com/v3
  description: Production
security:
- oauth2ClientCredentials: []
tags:
- name: Orders
  description: Background-check orders placed against a candidate.
paths:
  /order:
    post:
      tags:
      - Orders
      summary: Create order
      description: Request to complete a background check on a specific candidate.
      responses:
        '201':
          description: Order created.
  /orders:
    get:
      tags:
      - Orders
      summary: Retrieve all orders
      description: Retrieve and filter orders by query parameters.
      responses:
        '200':
          description: A list of orders.
  /order/{id}:
    get:
      tags:
      - Orders
      summary: Retrieve order by ID
      description: Retrieve a single order, its status, and its searches.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested order.
  /order/{id}/eta:
    get:
      tags:
      - Orders
      summary: Get order ETA
      description: Estimated completion time for an order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The order ETA.
  /order/{id}/changes:
    get:
      tags:
      - Orders
      summary: Get order changes
      description: List of modifications made to an order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The order change history.
  /order/{id}/reinitiate:
    post:
      tags:
      - Orders
      summary: Reinitiate order
      description: Reset a cancelled interactive order so the candidate can resume.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order reinitiated.
  /order/{id}/invitation:
    post:
      tags:
      - Orders
      summary: Resend invitation
      description: Resend the candidate invitation email for an interactive order.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Invitation resent.
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: Accurate API credentials are a ClientID / ClientSecret pair obtained from the Accurate developer portal. Credentials are exchanged (HTTP Basic) for an access token that authorizes subsequent requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.accuratebackground.com/v3/oauth/token
          scopes: {}
